*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.maindiv
{
  /* border: 2px solid red; */
  display: flex;
  height: 500px;
  background-color: #3445db4a;

}
.sidediv{
  /* border: 2px solid rgb(74, 39, 213); */
  background-color: rgba(95, 87, 103, 0.565);
  display: flex;
flex-direction: column;
align-items: center;
/* gap: 50px; */
  width:200px;
  text-decoration: none;
}
