*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.widivmain{
    /* border: 2px solid rgb(220, 78, 78); */
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 1000px;
}
.secdiv{
    /* border: 2px solid rgb(78, 220, 80); */
    display: flex;
    box-shadow: 3px 3px 5px 5px rgb(234, 231, 231);
    align-items: center;
    gap: 70px;
    /* margin-right: 90px; */


    justify-content: center;
}
.secdiv1{
    /* border: 2px solid rgb(78, 78, 220); */
    display: flex;
    box-shadow: 3px 3px 5px 5px rgb(234, 231, 231);
    align-items: center;
    /* gap: 70px; */
    justify-content: center;
    background-color: white;
}
.div2{
      /* border: 2px solid rgb(220, 78, 78); */
      display: flex;
      align-items: center;
      gap: 100px;
      
      justify-content: center;
      width: 1000px;
}
h2{
    text-decoration: none;
    /* border: 2px solid orange; */
    display: flex;
    text-decoration: none;
    /* text-decoration: underline; */
    align-items: center;
    justify-content: center;
    color: black;
}